<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/comps.css') }}"
    />
    {% block head%}{% endblock head%}
  </head>
  <body>
    {% with messages=get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category,message in messages %}
    <div class="alert alert-{{category}}">{{message}}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div>
      {%set user = session.get('user') %}  {% if
      user %} {% include 'partials/user_navbar.html' %} {% else %} {% include
      'partials/navbar.html' %} {% endif %} {% block body%}{% endblock body%}
    </div>
  </body>
  {% block script %} {%endblock %}
</html>
