{%extends "auth/layout.html" %} {% from "includes/form.html" import formComp
with context %} {%block content %}
<div class="formDiv-Login">
  {% call formComp("", "", "Forgot Password") -%}
  <div class="formGroup">
    <label for="userEmail">Email</label> <input required name="userEmail" type="email" />
  </div>
  {% endcall %}
</div>

<style>
  .formDiv-Login {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>

{%endblock content %}
