{%extends "manage/layout.html" %} 

{% from "includes/form.html" import formComp
with context %} {%block content %}
<div class="formDiv">
    {% call formComp("/manage/add-song", "POST", "Add Song") -%}
    <div class='formGroup'>
        <label>Song Name</label>
        <input type='text' name='songName' required class='form-control'>
      </div>
      <div class='formGroup'>
        <label>Album</label>
        <select name="albumID" id="albumNameSelector" required class="form-control" >
          {% for album in albumsList %}
          <option value={{album[1]}}>{{album[0]}}</option>
          {% endfor %}
        </select>
      </div>
      <div class='formGroup'>
        <label>Artist</label>
        <input type='text' name='artistName' required class='form-control'>
      </div>
      <div class='formGroup'>
        <label>Lyrics</label>
        <textarea name="lyrics" id="lyrics" cols="30" rows="10"></textarea>
      </div>
    <input type="file"  name="songFile" accept="audio/mp3" />
    {% endcall %}
  </div>

{%endblock content %}